.meubotao .bg-primary{
    width: 15%;
    color: aliceblue;
    position: relative;
    height: 40px;
    left: 40%;
    top:100px;
    
}




.meubotao2 .bg-primary{
    width: 15%;
    color: aliceblue;
    height: 40px;
    position: relative;
    left: 40%;
    top:150px;
    
}